{% extends "page.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='homeStyles.css') }}"></link>
<div class="container mt-4">
  <h2 class="mb-3">You have {{ bids | length }} bids</h2>
 
  <div style="display: grid; grid-template-columns: auto 1fr auto auto; gap: 0.75rem 1.5rem; align-items: center;">
    {% for bid in bids %}
      <a href="/view_listing?token={{token}}&listing_id={{bid[2]}}" class="btn btn-primary btn-sm">View listing</a>
      <p class="mb-0">{{ bid[3] }}</p>
      <strong class="text-nowrap">${{ bid[1] }}</strong>
      <p class="mb-0 text-muted text-nowrap">from <a href="/vendor_view?token={{token}}&vendor?={{ bid[0] }}">{{ bid[0] }}</a></p>
    {% endfor %}
  </div>
</div>
 
{% endblock %}